/* Secret */

.secret__modal {
  position: relative;
  top: 0;
  left: 0;
  min-height: 90vh;
  min-width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;

  & *{
    user-select: none;
  }

}

.secret__card {
  position: relative;
  padding: 2em;
  border-radius: 1em;
  background-color: var(--actual-bg-color-3);
  box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.375);
  min-width: 20em;
  width: 80%;
  max-width: 30em;
}

.secret__title {
  text-align: center;
  margin-top: 0.5em;
  color: var(--actual-aux-color);
}

.secret__back {
  border-radius: 5em;
  height: 1.5em;
  width: 2em;
  position: absolute;
  left: 1em;
  top: 1em;
  color: var(--actual-bg-color-2);
  background-color: var(--actual-bg-color-1);
}

.secret__back i {
  font-size: 0.8em;
  text-align: center;
  border-radius: 50%;
  margin-left: 0.2em;
  margin-top: 0.12em;
  color: var(--actual-bg-color-3);
}

.secret__back::before {
  content: "";
  position: absolute;
  width: 1.25em;
  height: 1.25em;
  left: 0.3em;
  top: 0.1em;
  border-radius: 50%;
  background-color: var(--actual-font-color);
}

.goBack {
  animation: goBack 0.5s forwards linear;
}

@keyframes goBack {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  
  75% {
    transform: scale(1.15);
  }

  100% {
    opacity: 0;
    transform: translateX(-50%);
  }
}