<section class="secret__modal card__container appear_animation " #secret__form> 
    <div class="secret__card">
        <app-toggle-color></app-toggle-color>

        <button class="secret__back" (click)="goBack()">
            <i class="ico i__rewind"></i>
        </button>
        <h2 class="secret__title">Ingresa tu autenticador</h2>
        <form [formGroup]="form" (submit)="prepareAuth()">
            <div class="input__group">
                <i class="ico input__prefix i__secret"></i>
                <input type="number" placeholder=" " id="secret" class="input__control" formControlName="secret">
                <label for="secret" class="input__label">Código</label>
                <ng-container *ngTemplateOutlet="secret_error; context: {error: form.get('secret')?.errors}"></ng-container>
            </div>
            <button class="input__login-button"> Confirmar </button>
        </form>
    </div>
</section>

<ng-template #secret_error let-error="error">
    <ng-container *ngIf="form.get('secret')?.dirty || form.get('secret')?.touched">
        <span class="input__hint" *ngIf="error?.required">El campo es requerido </span>
    </ng-container>
</ng-template>