<div class="request__list">
    
    <input type="checkbox" class="toggle-check__filter" id="check__filter">
    <section class="message__filterer">

        <label for="check__filter" class="toggle__filter">
            <i class="bars"></i>
        </label>
        
        Clasificador
        <select class="select__input">
            <option>Todos</option>
            <option>Consulta general</option>
            <option>Contrato proveedores</option>
            <option>Contrato personal</option>
            <option>Normativa nacional</option>
            <option>Normativa internacional</option>
        </select>

        <label>Estado</label>
        <select class="select__input">
            <option>Todos</option>
            <option>Pendiente</option>
            <option>Resuelto</option>
            <option>Ampliado</option>
        </select>

        <label>Desde</label>
        <input type="date" class="select__input">

        <label>Hasta</label>
        <input type="date" class="select__input">

        <button class="simple__button">Limpiar Filtros</button>
    </section>

    <div class="table__container">
        
    <table class="main__table">

        <tbody>
            <tr title="Ver consulta" class="message">
                <td>
                    <p> Luis Fernando Leiton Iglesias</p>

                    <p class="message__classifier"> Consulta General</p>
                    <p class="message__title">Puedo realizar esto</p>

                    <p class="message__status extended" title="Estado">Ampliado</p>
                    <span class="message__date">18/09/1995 - 08:37 a.m </span>
                </td>
            </tr>   <tr title="Ver consulta" class="message">
                <td>
                    <p> Luis Fernando Leiton Iglesias</p>

                    <p class="message__classifier"> Consulta General</p>
                    <p class="message__title">Puedo realizar esto</p>

                    <p class="message__status extended" title="Estado">Ampliado</p>
                    <span class="message__date">18/09/1995 - 08:37 a.m </span>
                </td>
            </tr>   <tr title="Ver consulta" class="message">
                <td>
                    <p> Luis Fernando Leiton Iglesias</p>

                    <p class="message__classifier"> Consulta General</p>
                    <p class="message__title">Puedo realizar esto</p>

                    <p class="message__status extended" title="Estado">Ampliado</p>
                    <span class="message__date">18/09/1995 - 08:37 a.m </span>
                </td>
            </tr>   <tr title="Ver consulta" class="message">
                <td>
                    <p> Luis Fernando Leiton Iglesias</p>

                    <p class="message__classifier"> Consulta General</p>
                    <p class="message__title">Puedo realizar esto</p>

                    <p class="message__status extended" title="Estado">Ampliado</p>
                    <span class="message__date">18/09/1995 - 08:37 a.m </span>
                </td>
            </tr>   <tr title="Ver consulta" class="message">
                <td>
                    <p> Luis Fernando Leiton Iglesias</p>

                    <p class="message__classifier"> Consulta General</p>
                    <p class="message__title">Puedo realizar esto</p>

                    <p class="message__status extended" title="Estado">Ampliado</p>
                    <span class="message__date">18/09/1995 - 08:37 a.m </span>
                </td>
            </tr>   <tr title="Ver consulta" class="message">
                <td>
                    <p> Luis Fernando Leiton Iglesias</p>

                    <p class="message__classifier"> Consulta General</p>
                    <p class="message__title">Puedo realizar esto</p>

                    <p class="message__status extended" title="Estado">Ampliado</p>
                    <span class="message__date">18/09/1995 - 08:37 a.m </span>
                </td>
            </tr>   <tr title="Ver consulta" class="message">
                <td>
                    <p> Luis Fernando Leiton Iglesias</p>

                    <p class="message__classifier"> Consulta General</p>
                    <p class="message__title">Puedo realizar esto</p>

                    <p class="message__status extended" title="Estado">Ampliado</p>
                    <span class="message__date">18/09/1995 - 08:37 a.m </span>
                </td>
            </tr>   <tr title="Ver consulta" class="message">
                <td>
                    <p> Luis Fernando Leiton Iglesias</p>

                    <p class="message__classifier"> Consulta General</p>
                    <p class="message__title">Puedo realizar esto</p>

                    <p class="message__status extended" title="Estado">Ampliado</p>
                    <span class="message__date">18/09/1995 - 08:37 a.m </span>
                </td>
            </tr>   <tr title="Ver consulta" class="message">
                <td>
                    <p> Luis Fernando Leiton Iglesias</p>

                    <p class="message__classifier"> Consulta General</p>
                    <p class="message__title">Puedo realizar esto</p>

                    <p class="message__status extended" title="Estado">Ampliado</p>
                    <span class="message__date">18/09/1995 - 08:37 a.m </span>
                </td>
            </tr>   <tr title="Ver consulta" class="message">
                <td>
                    <p> Luis Fernando Leiton Iglesias</p>

                    <p class="message__classifier"> Consulta General</p>
                    <p class="message__title">Puedo realizar esto</p>

                    <p class="message__status extended" title="Estado">Ampliado</p>
                    <span class="message__date">18/09/1995 - 08:37 a.m </span>
                </td>
            </tr>   <tr title="Ver consulta" class="message">
                <td>
                    <p> Luis Fernando Leiton Iglesias</p>

                    <p class="message__classifier"> Consulta General</p>
                    <p class="message__title">Puedo realizar esto</p>

                    <p class="message__status extended" title="Estado">Ampliado</p>
                    <span class="message__date">18/09/1995 - 08:37 a.m </span>
                </td>
            </tr>

            <tr title="Ver consulta" class="message">
                <td>
                    <p> Luis Fernando Leiton Iglesias</p>

                    <p class="message__classifier"> Consulta General</p>
                    <p class="message__title">Puedo realizar esto</p>

                    <p class="message__status solved" title="Estado">Resuelto</p>
                    <span class="message__date">18/09/1995 - 08:37 a.m </span>
                </td>
            </tr>

            <tr title="Ver consulta" class="message">
                <td>
                    <p> Luis Fernando Leiton Iglesias</p>

                    <p class="message__classifier"> Consulta General</p>
                    <p class="message__title">Puedo realizar esto</p>

                    <p class="message__status pending" title="Estado">Pendiente</p>
                    <span class="message__date">18/09/1995 - 08:37 a.m </span>
                </td>
            </tr>

        </tbody>
    </table>
    </div>

</div>