p {
  margin: 0;
}
.request__list{
  position: relative;
  top: 1em;
}
.table__container {
  width: 100%;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;

}

.main__table {
 
  width: 100%;
  height: 75%;
  border-collapse: separate;
  border-spacing: 0.5em;
  height: 10em;
  margin: 2em 0.5em;

  & td {
    color: var(--actual-font-color);
    background-color: var(--actual-bg-color-3);
    border: none;
  }
}

.message {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.message > td {
  padding: 1em;
}

.message__status {
  bottom: 0.5em;
  padding:.2em;
  margin: 0;
  position: absolute;
}

.message__date {
  right: 0.5em;
  bottom: 0.5em;
  position: absolute;
}

.message__title {
  margin-bottom: 2em;
}

.message__status {
  width: 100px;
  text-align: center;
  border-radius: 1em;
}

.message__status.Ampliado {
  background-color: rgba(255, 230, 0, 0.6);
}

.message__status.Resuelto {
  background-color: rgba(0, 255, 13, 0.6);
}

.message__status.Pendiente {
  background-color: rgba(255, 0, 0, 0.6);
}

.message__filterer {
  background-color: var(--actual-bg-color-3);
  color: var(--actual-font-color);
  overflow: hidden;
  position: absolute;
  z-index: 100;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
  max-height: 2em;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 3.5em;
  transition: max-height 250ms;
  padding: 0 1em 2em 1em;
  filter: brightness(0.95);
}

.toggle-check__filter {
  display: none;
}

.toggle__filter {
  width: 100%;
  height: 2em;
  margin-top: 1em;
  cursor: pointer;
  margin-bottom: 1em;
}

.toggle-check__filter:checked + * > .toggle__filter > .bars {
  max-width: 0em;
}

.toggle-check__filter:checked + * > .toggle__filter > .bars::after {
  transform: rotate(-45deg) translateY(-0.45em);
}

.toggle-check__filter:checked + * > .toggle__filter > .bars::before {
  transform: rotate(45deg) translateY(0.45em);
}

.toggle-check__filter:checked + .message__filterer {
  max-height: 100vh;
}

.bars,
.bars::after,
.bars::before {
  content: "";
  position: absolute;
  background-color: gray;
  width: 1em;
  max-width: 1em;
  height: 0.2em;
  transition: max-width 250ms, transform 250ms;
}

.bars {
  display: block;
  margin-left: calc(50% - 1em);
}

.bars::after {
  bottom: -0.3em;
  left: 0em;
}

.bars::before {
  top: -0.3em;
  left: 0em;
}

.request__list {
  display: flex;
}

@media (min-width: 500px) {
  .message__classifier {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
  }

  .message__filterer {
    max-height: 28em;
    position: sticky;
    top: calc(50% - 20em);
    padding: 1em;
  }

  .toggle__filter {
    display: none;
  }

  .table {
    margin-top: 0;
    padding: 0 1em;
  }
}

.select__input {
  border-radius: 0.5em;
  cursor: pointer;
  background-color: var(--actual-bg-color-3);
  color: var(--actual-font-color);
  padding: 0.5em;
  margin-bottom: 1em;
  margin-top: 0.5em;
  border: none;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
  transition: outline 0.5s;
  outline: 1px solid var(--actual-bg-color-3);
  &:focus {
    outline: 1px solid var(--accent);
  }
}
