<section class="header">

    <app-toggle-color></app-toggle-color>
    <nav>
        <ul class="nav__list">
            <section class="head__section left">

                <li routerLink="/"> Solicitudes </li>

                <ng-container *ngIf="authService.isLegal()">
                    <div class="dropper">
                        <li class="dropdown__toggle"> Mantenimiento </li>
                        <div class="dropdown">
                            <ul class="nav__dropdown">
                                <li routerLink="/users">Personas</li>
                                <li routerLink="/departments">Departamentos</li>
                                <li routerLink="/classifiers">Clasificadores</li>
                            </ul>
                        </div>
                    </div>


                    <li routerLink="/reports"> Reportes </li>

                    <li routerLink="/cubo">Cubo </li>
                </ng-container>
            </section>



            <section class="head__section right">
                <div class="dropper">
                    <li class="dropdown__toggle"> Perfil </li>
                    <div class="dropdown profile">
                        <!-- Temporal -->
                        <button class="logout" (click)="logout()">Cerrar sesión</button>
                        <!-- -->
                    </div>
                </div>

                <img [src]="domSanitizer.bypassSecurityTrustResourceUrl(authService.userData?.picture||'')"
                    class="user__image">
            </section>


        </ul>
    </nav>

</section>