.footer{
    background-color: var(--actual-font-color);
    animation: enter_footer 1s forwards;
    color: var(--actual-bg-color-1);
    padding: 1em;
}

@keyframes enter_footer {
    0%{
        transform: translateY(150%);
    }

    100%{
        transform: translateY(0%);
    }
}