<div class="container">
    <table class="list__table">
        <thead >
            <tr>
                <th>Nombre</th>
                <th>Ubicación</th>
                <th>Acciones</th>
            </tr>
        </thead>
    </table>
    <div class="list__container">
        <table class="list__table">        
            <tbody>
                <tr *ngFor="let item of departmentsService.list.value" data-id="{{item.id}}">
                    <td>{{item.description}}</td>
                    <td>{{item.district}}</td>
                    <td class="action__container">
                        <button class="action__button edit" (click)="prepareEdit(item.id)">
                            <i class="ico i__edit"></i>
                        </button>
        
                        <button  class="action__button delete" (click)="prepareDelete(item)">
                            <i class="ico i__delete"></i>
                        </button>
                        
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>
