@import "./assets/css/utils/ico.css";
@import "./assets/css/colors/colors.css";
@import "./assets/css/colors/alerts.css";
@import "./assets/css/fonts/roboto.css";

* {
  font-size: clamp(12px, 2vw, 16px);
  font-family: "Roboto", sans-serif;
  transition: background-color 500ms;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--actual-bg-color-2);
}

button {
  cursor: pointer;
  border: none;
}

/* Remover flechas del input number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



.appear_animation  {
  animation: appear 0.5s forwards linear;
}

.disappear_animation  {
  animation: disappear 0.5s forwards linear;
}

@keyframes appear {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }

  75%{
    transform: scale(1.15);
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }

  75%{
    transform: scale(1.15);
  }

  100% {
    transform: translateX(50%);
    opacity: 0;
  }
}

.show_animation {
  animation: loading_show 0.25s forwards linear;
  pointer-events: all;
}

.unshow_animation {
  animation: loading_unshow 0.25s forwards linear;
}

@keyframes loading_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading_unshow {
  0% {
   opacity: 1;
  }
  100% {
   opacity: 0;
  }
}




/* Contenido para formularios */

.input__group {
  height: 3em;
  position: relative;
  display: flex;
  margin: 2em 0;
}

.input__control {
  width: 100%;
  padding: 1em;
  border: none;
  outline: none;
  border-radius: 0 0.5em 0.5em 0;
  background-color: var(--actual-bg-color-3);
  color: var(--actual-font-color);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
}

.input__control:placeholder-shown + .input__label {
  color: var(--actual-aux-color);
  transform: translateY(1em);
}

.input__control:focus + .input__label {
  transform: translate(-0.4em, -1em) scale(0.8);
  color: var(--accent);
}

.input__label {
  line-height: 1em;
  margin-left: 3.2em;
  position: absolute;
  transform: translate(-0.4em, -1em) scale(0.8);
  pointer-events: none;
  color: var(--actual-aux-color);
  transition: transform 500ms, color 500ms;
}

.input__hint {
  position: absolute;
  color: var(--actual-aux-color);
  font-size: 0.84em;
  bottom: -1.5em;
  right: 0;
}

.input__login-button {
  background-color: var(--accent);
  color: var(--neutral-100);
  padding: 1rem 2rem;
  border-radius: 5em;
  text-align: center;
  margin-top: 2em;
  width: 100%;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
}

.input__prefix {
  background-color: var(--actual-bg-color-2);
  width: 2.5em;
  height: 100%;
  color: var(--actual-aux-color);
  font-size: 1.2em;
  border-radius: 0.5em 0 0 0.5em;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
}