<form [formGroup]="form" (submit)="prepareRegister()">

    <div class="input__group">
        <i class="ico input__prefix i__classifier"></i>
        <input type="text" placeholder=" " id="description" class="input__control" formControlName="description">
        <label for="description" class="input__label">Classificador</label>
        <ng-container *ngTemplateOutlet="classifier_error; context: {error: form.get('description')?.errors}">
        </ng-container>
    </div>

    <div class="button__container">
        <button class="simple__button" type="submit"> {{service.editing.value.id ? 'Modificar': 'Registrar'}} </button>

        <button class="simple__button" (click)="cancelEdit()" *ngIf="service.editing.value.id"> Cancelar </button>
    </div>
</form>

<div class="list">
    <app-main-list></app-main-list>
</div>

<ng-template #classifier_error let-error="error">
    <ng-container *ngIf="form.get('description')?.dirty || form.get('description')?.touched">
        <span class="input__hint" *ngIf="error?.required">El campo es requerido </span>
    </ng-container>
</ng-template>