<br>

<div class="button__container">
  <button class="simple__button" (click)="open(content)"><b>Agregar </b> <i class="fas fa-user-plus"></i></button>
</div>

<app-main-list></app-main-list>

<!-- Modal de insertar y modificar -->
<ng-template #content let-modal>
  <div class="modalL">
    <div class="modal-header">
      <label class="modal-title" id="modal-basic-title"><b>Formulario</b></label>
      <h2 class="form__title">Registro de solicitud</h2>
      <button type="button" class="bg-danger close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span class="close">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="form">

        <div class="input__group">
          <i class="ico input__prefix  i__keyword"></i>
          <input type="text" placeholder=" " id="keyword" class="input__control" formControlName="keyword">
          <label for="keyword" class="input__label">Palabra clave</label>
        </div>


        <div class="select__group">
          <div class="input__group">
            <i class="ico input__prefix i__classifier"></i>
            <select name="classifier" formControlName="classifier" class="select__input">
              <option selected value="" disabled>Seleccione un clasificador</option>
            </select>
            <label for="issue" class="input__label">Clasificador</label>
          </div>
        </div>

        <div class="input__group issue">
          <i class="ico input__prefix  i__issue"></i>
          <textarea type="text" placeholder=" " id="issue" class="input__control input__textarea"
            formControlName="issue"> </textarea>
          <label for="issue" class="input__label">Asunto</label>
        </div>


        <div class="input__group">
          <i class="ico input__prefix  i__files"></i>
          <input type="file" placeholder=" " id="file" name="file" id="file"
            accept="application/pdf, image/png, image/jpg, image/jpeg, image/jpeg" hidden
            (change)="addAttachment($event)" formControlName="attachment">
          <label class="input__control files__input_label" for="file"> + Adjuntar</label>
          <label for="attachments" class="input__label">Adjuntos (Opcional)</label>
        </div>

        <div class="attachment__container">
          <table class="list__table">
            <tbody>
              <tr *ngFor="let attachment of attachments; let i = index">
                <td>{{attachment.name}}</td>
                <td>{{(attachment.size/1048576).toFixed(2)}} mb</td>
                <td>
                  <button class="simple__button delete" (click)="deleteAttachment(i)"><i class="ico i__delete"
                      title="Eliminar"></i></button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="button__container">
          <button class="simple__button" type="submit">Responder</button>
        </div>
      </form>

    </div>
  </div>
</ng-template>